
@supports (display:grid){}

.grid {
  display:grid;
  grid-gap: 0.5vw; 
  grid-template-columns:repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.grid-contenedor{
  display: grid;
  grid-template-areas:"cabecera titulo tablero tablero";
}
.grid-contenedor--cabecera{
  grid-area:"cabecera";
  grid-row:auto;
  border-radius: 10px;
}
.grid-contenedor--tablero{
  grid-area:"tablero";
  grid-column: auto;
  grid-row:auto;
}

ul{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(3,1fr);
    list-style-type: none; 
  }
li{
  background-color:  rgba(165, 73, 42, 0.949);
}
  li:nth-child(1){
    grid-column: 2/3;
    grid-row:1/2;
    background-color: rgba(165, 73, 42, 0.949);
  
  }
  li:nth-child(2){
    grid-column:5/6;
    grid-row: 2/3;
    background-color: rgba(165, 73, 42, 0.949);
   
  }
  li:nth-child(3){
    grid-column:8/9;
    grid-row: 1/2;
    background-color: rgba(165, 73, 42, 0.949);
  }
  li:nth-child(4){
    grid-column:2/3;
    grid-row: 3/4;
    background-color: rgba(165, 73, 42, 0.949);

  }
  li:nth-child(5){
    grid-column:8/9;
    grid-row: 3/4;
    background-color: rgba(165, 73, 42, 0.949);
   
  }
  li:nth-child(6){
    grid-column:5/6;
    grid-row: 4/5;  
    background-color: rgba(165, 73, 42, 0.949);
   
  }
.grid-contenedor--texto{
  padding:10px;
  color:white;
  font-size:16px;
  text-align: center;  
}


  @supports (display: grid){
    li{
      width:auto;
      margin:0;
    }
    @supports (display:flex) and (not (display:grid)) {
      li{
        width:auto;
        margin:0;
      }
    }


    @media (min-width: $mqMinWidth) {
      .grid-contenedor{
        grid-column:1/2;
      }
      .grid-contenedor {
        grid-template-rows: repeat(2, 1fr);
        
      }
      }
    }
  